@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>All Departments</h1>
<br />
<br />
<br />
<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Create New Employee</a>
<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>

                <th>@Html.DisplayNameFor(e=>e.Name)</th>
                @*<th>@Html.DisplayNameFor(e=>e.Image)</th>*@
                <th>@Html.DisplayNameFor(e=>e.Age)</th>
                <th>@Html.DisplayNameFor(e=>e.Address)</th>
                <th>@Html.DisplayNameFor(e=>e.Email)</th>
                <th>@Html.DisplayNameFor(e=>e.Salary)</th>
                <th>@Html.DisplayNameFor(e=>e.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(e=>e.HireDate)</th>
                <th>@Html.DisplayNameFor(e=>e.DepartmentId)</th>
                <th>@Html.DisplayNameFor(e=>e.IsActive)</th>

                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>

                    <td>@employee.Name</td>
                    @* <td>
                        <img src="~/files/imgs/@employee.ImageName" class="img-fluid rounded"   alt="Employee Image"/>
                        </td>*@
                    <td>@employee.Age</td>
                    <td>@employee.Address</td>
                    <td>@Html.DisplayFor(e=>@employee.Email)</td>
                    <td>@Html.DisplayFor(e=>@employee.Salary)</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.HireDate</td>
                    <td>@employee.Department?.Name</td>
                    <td>@Html.DisplayFor(e=>@employee.IsActive)</td>

                   <partial name="_ButtonsPartialView" model="@employee.Id"/>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="alert alert-warning ">
        <h5 class="p-3"> There is no Employees Yet!</h5>
    </div>
}
